*{
	font-family: Arial;
	padding: 0px;
	border: 0px;
}

:focus {
	outline: 0;
}

body{
	background-image: url('../images/bg.png');
}
#principal{
	width: 1200px;
	height: 620px;
	margin: auto; 
}
#izquierda{
	float:left;
	width: 300px;
	height: 100%;
	background: url('../images/brujula.jpg') no-repeat center;
}
#izquierda_banner{
	float:left;
	width: 300px;
	height: 100px;
	background: url('../images/banner.jpg') no-repeat center;
}
#mapa{
	height:100%;
	width:898px;
	float:left;
}
#map_canvas{
	height:100%;
	width:898px;
	float:left;
}

.blancos{
	color: #ffffff;
}
#principal_root{
	width: 1325px;
	height: 642px; 
	border: solid 1px;
}
#izquierda_banner_root{
	float:left;
	width: 1325px;
	height: 100px;
	background-color: red;
	background: url('../images/banner.jpg') no-repeat center;
}

a {
	text-decoration: none;
	font-size: 10px;
}

a:hover{
	color:red;
	text-decoration: underline;
}

.fondo_letras {
	color: white;
	text-align: center;
	width: 250;
	margin: auto; 
	background: #3B5997;
}

.fondo_login {
	text-align: center;
	width: 100%;
	margin: auto; 
	background: #3B5997;
}

.fondo_login a{
	color: white;
	font-size: 14px;
	font-style: bold;	
}
.popup {
	font-size: 11px;
	height: auto;
}

/*Estilos del la entrada para el login*/
#content.login{
	width: 350px;
	margin: 90px auto 0;
}
#content.login .notif{
	margin: 12px 0px 16px;
}
#content.login div.input{
	height: 33px;
	line-height: 33px;
	margin-bottom: 13px;
	position: relative;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	background-color: #1B1B1B;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #0E0D0D;
	border: 1px solid #303030;
	/*+box-shadow:inset 2px 2px 5px rgba(0, 0, 0, 0.6);*/
	-moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
	-o-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
	margin-top: 16px;
}
#content.login div.input input{
	position: absolute;
	top: 0;
	left: 0;
	width: 329px;
	height: 32px;
	background: transparent;
	border: none;
	color: #6A6A6A;
	padding: 0 10px;
}
#content.login div.input label{
	position: absolute;
	top: 0;
	left: 10px;
	height: 33px;
	line-height: 33px;
	color: #3A3636;
}
#content.login div.submit{
	float: right;
	width: 97px;
	text-align: right;
}
#content.login .checkbox{
	background: none !important;
	/*+box-shadow:none;*/
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
}
#content.login div.checkbox{
	float: left;
	width: 229px;
	margin-top: 3px;
}
#content.login div.checkbox label{
	cursor: pointer;
}
#content.login div.submit input{
	/*+box-shadow:0px 2px 5px #202020;*/
	-moz-box-shadow: 0px 2px 5px #202020;
	-webkit-box-shadow: 0px 2px 5px #202020;
	-o-box-shadow: 0px 2px 5px #202020;
	box-shadow: 0px 2px 5px #202020;
}

#file {
	width: 250px;	
}

#content_ajax {
	width: 90%;
	height: 380px;
	margin: auto;
	overflow: auto;
	background: red;
}
.boton{
	background-color: #3889bc;
	border-color: #3889bc;
	color: white;
	width: 100px;
	height: 30px;
	font-weight:bold;
	font-size: 14px;
	cursor: pointer;
	border-radius: 4px;
}
input.boton:hover{
	background-color: #3580a9;
}

#content .notif{
	padding: 20px 10px 20px 40px;
	background: #FFF no-repeat 5px center;
	position: relative;
	/*+border-radius:8px;*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px 8px 8px 8px;
}
#content .content .notif{
	margin-bottom: 10px;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
}

#content.login .notif{
	margin: 12px 0px 16px;
}
#content .notif.error{
	background-color: #FBB4B4;
	background-image: url(../images/error.png);
	border: 1px solid #C21C1C !important;
	color: #C21C1C;
}
#content .bloc .input{
	padding: 5px 0 10px;
}
#content .notif .close{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 12px;
	height: 13px;
	display: block;
	background: url(../images/close.png);
}